/*
* Version : v.1.2
* Projet : messagerie ATAI
* Propriétaire : just-married.variousforum.com
* Crédits : code par Tuski de Just Married !
*/

/* ==================================================
    VARIABLES
===================================================== */

:root {
    /*  Couleurs */
    --tsam-color-primary: #a1265a;
    --tsam-color-secondary: #F1BBD5;
    /*  Texte */
    --tsam-text-color: #525252;
    --tsam-text-light: #fafafa;
    --tsam-text-dark: #252525;
    /*  Surfaces */
    --tsam-mail-body-bg: #fafafa;
    /*  Sélection */
    --tsam-selection-color: var(--tsam-color-primary);
    --tsam-selection-bg: var(--tsam-color-secondary);
    /*  Ascenseur */
    --tsam-scrollbar-width: thin;
    --tsam-scrollbar-color: #f9f9f9;
    --tsam-scrollbar-bg: transparent;
}

/* ==================================================
    NORMALISATION DES STYLES
===================================================== */

/*  Custom reset
===================================================== */

.TSAM {
    cursor: default;
    margin: 8px;
}

/*  Normalise typographie */
.TSAM * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--tsam-text-color);
    font-size: 15px;
    line-height: 1.6;
}

/*  Normalise paragraphes */
.TSAM p {
    margin-top: 0;
    margin-bottom: 0;
}

/*  Normalise liens */
.TSAM a {
    -webkit-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    color: #e34d8d;
    font-weight: 500;
    text-decoration: none
}

.TSAM a:hover {
    color: #ee75add8;
}

/*  Normalise images */
.TSAM img {
    display: block;
    background-color: var(--tsam-color-light);
    width: 100%;
    overflow: hidden;
}

/*  Transforme icons en boutons */
.TSAM label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*  Invisibilise boutons tab */
.TSAM input {
    display: none;
}

/*  Personnalisation de la sélection */
.TSAM ::-moz-selection {
    background-color: var(--tsam-selection-bg);
    color: var(--tsam-selection-color);
}
.TSAM ::selection {
    background-color: var(--tsam-selection-bg);
    color: var(--tsam-selection-color);
}

/* ==================================================
    STRUCTURE DE L'APP
===================================================== */

.TSAM .atai-tchat-app {
    -webkit-box-shadow: rgb(26 6 15 / 12%) 2px 2px 10px;
            box-shadow: rgb(26 6 15 / 12%) 2px 2px 10px;
    border-radius: 5px;
    background-color: #fafafa;
    overflow: hidden;
    /*  Possible d'ajouter une largeur / hauteur */
}

/*  Entête de l'app
===================================================== */

/*  Partie navigation de l'app */
.TSAM .app-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    background-color: var(--tsam-color-primary);
    padding: 8px 24px 8px 16px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    color: var(--tsam-text-light);
}

/*  Logo ATAI */
.TSAM .atai-logo {
    background-image: url("https://zupimages.net/up/25/10/camq.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
    width: 100px;
    height: auto;
}

/*  Texte "Messagerie" automatique */
.TSAM p.app-name {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.TSAM p.app-name::after {
    content: "Messagerie";
    color: var(--tsam-text-light);
    font-weight: 700;
    font-size: 16px !important;
    letter-spacing: .5px;
}
.TSAM p.app-name::before {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='%23fafafa' class='icon icon-tabler icons-tabler-filled icon-tabler-message-chatbot'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M18 3a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-4.724l-4.762 2.857a1 1 0 0 1 -1.508 -.743l-.006 -.114v-2h-1a4 4 0 0 1 -3.995 -3.8l-.005 -.2v-8a4 4 0 0 1 4 -4zm-2.8 9.286a1 1 0 0 0 -1.414 .014a2.5 2.5 0 0 1 -3.572 0a1 1 0 0 0 -1.428 1.4a4.5 4.5 0 0 0 6.428 0a1 1 0 0 0 -.014 -1.414m-5.69 -4.286h-.01a1 1 0 1 0 0 2h.01a1 1 0 0 0 0 -2m5 0h-.01a1 1 0 0 0 0 2h.01a1 1 0 0 0 0 -2' /%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    content: "";
}

/*  Partie utilisateur */
.TSAM .app-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
}

/*  Illusion lien cliquable */
.TSAM .app-user > *:not(img) {
    cursor: pointer;
}

/*  Avatar utilisateur */
.TSAM .app-user > img.user-avatar {
    border: 2px solid #e5d9df;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 38px;
    height: 38px;
    -o-object-fit: cover;
       object-fit: cover;
}

/*  Nom utilisateur */
.TSAM .app-user > p.user-name {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
    -webkit-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    color: #e5d9df;
    font-weight: 600;
    font-size: 14px !important;
}
.TSAM .app-user > p.user-name > span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    width: 100%;
    max-width: 100px;
    color: #e5d9df;
    font-weight: 600;
    font-size: 14px !important;
    text-align: center;
}
.TSAM .app-user > p.user-name:hover,
.TSAM .app-user > p.user-name > span:hover{
    color: var(--tsam-text-light);
}
.TSAM .app-user > p.user-name::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 11l-3 3l-3 -3' /%3E%3Cpath d='M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18z' /%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    content: "";
}

/* ==================================================
    STRUCTURE DU MESSAGE
===================================================== */

/*  Corps du message */
.TSAM .mail {
    padding: 24px;
}

/*  Entête du message
===================================================== */

/*  Entête du message (infos) */
.TSAM .mail-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    margin-block: 0px 24px;
}
.TSAM .mail-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
}

/*  Avatar expéditeur */
.TSAM img.user-avatar {
    border: 2px solid #f1bbd5;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
       object-fit: cover;
}

/*  Informations expéditeur */
.TSAM .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2px;
}

/*  Nom expéditeur */
.TSAM .user-info > p.user-name {
    color: var(--tsam-text-dark);
    font-weight: 600;
    font-size: 15px !important;
}

/*  Lien expéditeur */
.TSAM .user-info > p.user-mailing {
    color: var(--tsam-text-color);
    font-size: 13px !important;
}
.TSAM .user-info > p.user-mailing > a {
    font-size: 13px !important;
}

/*  Ajout automatique du préfixe au lien */
.TSAM .user-info > p.user-mailing > a::before {
    content: "@";
    color: inherit;
}

/*  Infos message */
.TSAM .mail-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*  Date message */
.TSAM p.mail-date {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
    color: #797979;
    font-size: 13px !important;
}

/*  Icone pièce-jointe */
.TSAM p.have-pj::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23525252' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-paperclip'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5' /%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    content: "";
}

/*  Corps du message
===================================================== */

/*  Corps du message */
.TSAM .mail-body {
    cursor: text;
    border: 1px solid #f1bbd5;
    border-radius: 8px;
    background-color: #f1bbd533;
    padding: 20px 24px;
}

/*  Typographie du message */
.TSAM .mail-body,
.TSAM .mail-body p:not(p.mail-object) {
    color: var(--tsam-text-color);
    font-size: 15px !important;
    line-height: 1.5;
}
.TSAM .mail-body p:not(:last-child) {
    margin-bottom: 14px;
}

/*  Objet du message */
.TSAM .mail-body p.mail-object {
    margin-bottom: 14px;
    color: var(--tsam-text-dark);
    font-weight: 600;
    font-size: 16px !important;
}

/*  Normalisation des images dans le corps message */
.TSAM .mail-body img {
    border-radius: 5px;
    overflow: hidden;
}
.TSAM .mail-body img:not(:last-child) {
    margin-bottom: 14px;
}

/*  Pied de page du message
===================================================== */

/*  Liste des images en pièces-jointes */
.TSAM .img-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    margin-top: 32px;
    width: 100%;
}
.TSAM .img-list > img {
    -webkit-transition: margin .15s ease-out, -webkit-box-shadow .15s ease-out;
    transition: margin .15s ease-out, -webkit-box-shadow .15s ease-out;
    -o-transition: margin .15s ease-out, box-shadow .15s ease-out;
    transition: margin .15s ease-out, box-shadow .15s ease-out;
    transition: margin .15s ease-out, box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out;
    cursor: pointer;
    margin-top: 0px;
    -webkit-box-shadow: rgb(26 6 15 / 18%) 2px 2px 7px;
            box-shadow: rgb(26 6 15 / 18%) 2px 2px 7px;
    border-radius: 12px;
    width: 100%;
    max-width: 210px;
    height: 90px;
    -o-object-fit: cover;
       object-fit: cover;
}

/*  Effet de survol */
.TSAM .img-list > img:hover {
    margin-top: -3px;
    -webkit-box-shadow: rgb(26 6 15 / 28%) 2px 2px 10px;
            box-shadow: rgb(26 6 15 / 28%) 2px 2px 10px;
}

/*  Liste des documents en pièces-jointes */
.TSAM .pj-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    margin-top: 28px;
}

/*  Normalisation de la typographie */
.TSAM p.pj-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    -webkit-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    cursor: pointer;
    color: #797979;
    font-size: 14px !important;
}

/*  Effet de survol */
.TSAM p.pj-item:hover {
    color: #525252;
}

/*  Icône de pièce-jointe */
.TSAM p.pj-item::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: margin .15s ease-out;
    -o-transition: margin .15s ease-out;
    transition: margin .15s ease-out;
    margin-top: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    content: "";
}

/*  Effet de survol */
.TSAM p.pj-item:hover:before {
    margin-top: -3px;
}

/*  Icone PDF */
.TSAM p.pj-pdf::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4' /%3E%3Cpath d='M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6' /%3E%3Cpath d='M17 18h2' /%3E%3Cpath d='M20 15h-3v6' /%3E%3Cpath d='M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z' /%3E%3C/svg%3E");
}

/*  Icone doc */
.TSAM p.pj-doc::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-type-doc'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4' /%3E%3Cpath d='M5 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z' /%3E%3Cpath d='M20 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0' /%3E%3Cpath d='M12.5 15a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1 -3 0v-3a1.5 1.5 0 0 1 1.5 -1.5z' /%3E%3C/svg%3E");
}

/*  Icone jpg */
.TSAM p.pj-jpg::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-type-jpg'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4' /%3E%3Cpath d='M11 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6' /%3E%3Cpath d='M20 15h-1a2 2 0 0 0 -2 2v2a2 2 0 0 0 2 2h1v-3' /%3E%3Cpath d='M5 15h3v4.5a1.5 1.5 0 0 1 -3 0' /%3E%3C/svg%3E");
}

/*  Icone png */
.TSAM p.pj-png::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-type-png'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4' /%3E%3Cpath d='M20 15h-1a2 2 0 0 0 -2 2v2a2 2 0 0 0 2 2h1v-3' /%3E%3Cpath d='M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6' /%3E%3Cpath d='M11 21v-6l3 6v-6' /%3E%3C/svg%3E");
}

/*  Icone mp4 */
.TSAM p.pj-mp4::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-movie'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z' /%3E%3Cpath d='M8 4l0 16' /%3E%3Cpath d='M16 4l0 16' /%3E%3Cpath d='M4 8l4 0' /%3E%3Cpath d='M4 16l4 0' /%3E%3Cpath d='M4 12l16 0' /%3E%3Cpath d='M16 8l4 0' /%3E%3Cpath d='M16 16l4 0' /%3E%3C/svg%3E");
}

/*  Icone mp3 */
.TSAM p.pj-mp3::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-music'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z' /%3E%3Cpath d='M11 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M12 16l0 -5l2 1' /%3E%3C/svg%3E");
}

/*  Icone CV */
.TSAM p.pj-cv::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-cv'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z' /%3E%3Cpath d='M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0' /%3E%3Cpath d='M13 11l1.5 6l1.5 -6' /%3E%3C/svg%3E");
}

/*  Icone code */
.TSAM p.pj-code::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-file-code'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z' /%3E%3Cpath d='M10 13l-1 2l1 2' /%3E%3Cpath d='M14 13l1 2l-1 2' /%3E%3C/svg%3E");
}

/* ==================================================
    CREDITS
===================================================== */

.TSAM p.credit {
    opacity: .5;
    margin-block: 0px 12px;
    width: 100%;
    text-align: center;
}

.TSAM p.credit,
.TSAM p.credit > a {
    -webkit-transition: opacity .15s ease-out;
    -o-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    color: #252525;
    font-size: 11px!important;
}

.TSAM p.credit:hover {
    opacity: 1;
    color: #252525;
    font-size: 11px!important;
}
